.navigation_Home{
    color: white;
    background-color: rgb(37,37,37);
    position: sticky;
    display: flex;
    overflow-x: auto;
    top: 0;
    border-bottom: 2px solid rgb(128,128,128,0.27);
}
.btn_nav_home{
    background-color: rgb(46,46,46);
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 45px;
    cursor: pointer;
}
.btn_nav_home:hover{
    background-color: rgb(128,128,128);
}
@media(min-width:475px){
    .navigation_Home{
       font-size: .5rem;
       overflow-x:scroll; 
    }
}
@media(min-width:640px){
    .navigation_Home{
       font-size: .7rem;
       overflow-x: auto;
       top: 0; 
    }
}
@media(min-width:768px){
    .navigation_Home{
       font-size: .9rem;
       overflow-x: auto;
       top: 0; 
    }
}
@media(min-width:1024px){
    .navigation_Home{
       font-size: .9rem;
       overflow-x: auto;
       top: 0; 
    }
}
@media(min-width:1280px){
    .navigation_Home{
        font-size: 1rem;
        overflow-x: auto;
        top: 0;
    }
}
@media(min-width:1340px){
    .navigation_Home{
        font-size: 1rem;
        overflow-x: auto;
        top: 0;
    }
}